<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheet/style.css">
</head>
<body>
    <h1>About Me</h1>
    <nav>
        <ul>
            <li><a href="../views/home.html">Home</a></li>
            <li><a href="../views/work.html">Works</a></li>
            <li><a href="../views/about.html">About</a></li>
            <li><a href="../views/gallery.html">Gallery</a></li>
        </ul>
    </nav>
    <section>
        <h2>Education</h2>
        <p>
            I graduated from [Your University/College] with a degree in [Your Degree]. 
            During my academic journey, I developed a passion for [Specific Interests or Subjects], and I excelled in [Any Academic Achievements]. I'm always eager to learn and expand my knowledge.
        </p>
    </section>
    
    <section>
        <h2>Work Experience</h2>
        <p>
            I have [Number of Years] of experience in the field of [Your Field/Industry]. 
            I've had the privilege of working with various companies and clients, including [Company/Client Names], where I [Describe Your Role and Responsibilities]. My contributions have led to [Specific Achievements or Projects], which I'm particularly proud of.
        </p>
    </section>
    
    <script src="../index.js"></script>
</body>
</html>