<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheet/style.css">
</head>
<body>
    <h1>Gallery</h1>
    <nav>
        <ul>
            <li><a href="../views/home.html">Home</a></li>
            <li><a href="../views/work.html">Works</a></li>
            <li><a href="../views/about.html">About</a></li>
            <li><a href="../views/gallery.html">Gallery</a></li>
        </ul>
    </nav>
    <section>
        <h2>Random Image Gallery</h2>
        <div class="image-gallery">
            <!-- Dummy gallery images -->
            <div class="image-container">
                <img src="https://picsum.photos/300/200" alt="Random Image 1">
            </div>
            <div class="image-container">
                <img src="https://picsum.photos/300/200" alt="Random Image 2">
            </div>
            <div class="image-container">
                <img src="https://picsum.photos/300/200" alt="Random Image 3">
            </div>
            <div class="image-container">
                <img src="https://picsum.photos/300/200" alt="Random Image 3">
            </div>
            <div class="image-container">
                <img src="https://picsum.photos/300/200" alt="Random Image 3">
            </div>
            <div class="image-container">
                <img src="https://picsum.photos/300/200" alt="Random Image 3">
            </div>
            <div class="image-container">
                <img src="https://picsum.photos/300/200" alt="Random Image 3">
            </div>
            <div class="image-container">
                <img src="https://picsum.photos/300/200" alt="Random Image 3">
            </div>
            <div class="image-container">
                <img src="https://picsum.photos/300/200" alt="Random Image 3">
            </div>
            <div class="image-container">
                <img src="https://picsum.photos/300/200" alt="Random Image 3">
            </div>
            <div class="image-container">
                <img src="https://picsum.photos/300/200" alt="Random Image 3">
            </div>
            <div class="image-container">
                <img src="https://picsum.photos/300/200" alt="Random Image 3">
            </div>
            <!-- Add more image containers as needed -->
        </div>
    </section>

    <script src="../index.js"></script>
</body>
</html>