<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheet/style.css">
</head>
<body>
    <h1>Some of the Work</h1>
    <nav>
        <ul>
            <li><a href="../views/home.html">Home</a></li>
            <li><a href="../views/work.html">Works</a></li>
            <li><a href="../views/about.html">About</a></li>
            <li><a href="../views/gallery.html">Gallery</a></li>
        </ul>
    </nav>
    <section>
        <h2>Work Project</h2>
        <p>
            I have 5 years of experience in the field of web development. 
            During my career, I've had the opportunity to work with various companies and clients, including:
        </p>
        <main>
            <!-- Project 1 -->
            <section class="project">
                <h2>Project Title 1</h2>
                <p>Description of Project 1.</p>
                <a href="project1.html">View Project</a>
            </section>
    
            <!-- Project 2 -->
            <section class="project">
                <h2>Project Title 2</h2>
                <p>Description of Project 2.</p>
                <a href="project2.html">View Project</a>
            </section>
    
            <!-- Add more project sections as needed -->
            <section class="project">
                <h2>Project Title 2</h2>
                <p>Description of Project 2.</p>
                <a href="project2.html">View Project</a>
            </section>
    
            <section class="project">
                <h2>Project Title 2</h2>
                <p>Description of Project 2.</p>
                <a href="project2.html">View Project</a>
            </section>
    
            <section class="project">
                <h2>Project Title 2</h2>
                <p>Description of Project 2.</p>
                <a href="project2.html">View Project</a>
            </section>
    
    
        </main>
    </section>
    
    <script src="../index.js"></script>
</body>
</html>