<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheet/style.css">
</head>
<body>
    <h1>Some of the Work</h1>
    <nav>
        <ul>
            <li><a href="../views/home.html">Home</a></li>
            <li><a href="../views/work.html">Works</a></li>
            <li><a href="../views/about.html">About</a></li>
            <li><a href="../views/gallery.html">Gallery</a></li>
        </ul>
    </nav>
    <section>
        <h2>Work Experience</h2>
        <p>
            I have 5 years of experience in the field of web development. 
            During my career, I've had the opportunity to work with various companies and clients, including:
        </p>
        <ul>
            <li>
                <strong>[Company/Client Name 1]</</strong>: I served as a front-end developer and contributed to the development of their e-commerce platform. My work included creating responsive user interfaces and optimizing website performance.
            </li>
            <li>
                <strong>[Company/Client Name 2]</</strong>: I worked as a full-stack developer on their social networking application. I was responsible for building new features, handling database integration, and ensuring a seamless user experience.
            </li>
            <li>
                <strong>[Company/Client Name 3]</</strong>: I led a small development team as a project manager, overseeing the development of a mobile app for [Specific Purpose]. The project was completed successfully and received positive feedback from users.
            </li>
        </ul>
    </section>
    
    <script src="../index.js"></script>
</body>
</html>